:host {
    text-align: center;
}

.loadbar {
    margin: 1rem auto;
    height: 16vh;
    background-color: aqua;
    width: 60%;
}

.head {
    color: green;
}

.info {
    background-color: rgba(226, 226, 226, 0.527);
    position: relative;
    width: 60%;
    padding: 1rem 4rem;
    margin: 1rem auto;
    text-align: left;
}

input {
    margin-bottom: .3rem;
}

.btn-next {
    background-color: green;
    color: white;
    padding: .5rem 1.2rem;
    cursor: pointer;
}

.finalbox {
    margin: 1rem 2rem;
    padding: 1.5rem 2rem;
    background-color: white;
    line-height: 1.3;
    text-align: center;
    color: gray;
    p {
        font-size: 1.1rem;
        margin: 1rem 0;
        // font-weight: 600;
    }
    .ans {
        color: rgb(122, 121, 121);
        font-weight: bold;
    }
}

.backLogin {
    text-align: center;
    color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
        font-size: 2.5rem;
        margin: 2rem;
    }
}

.submit {
    width: 60%;
    margin: 1rem auto;
    text-align: right;
}

@media screen and (max-width: 770px) {
    .loadbar {
        width: 85%;
        height: 12vh;
    }
    .info {
        background-color: rgba(226, 226, 226, 0.527);
        position: relative;
        width: 85%;
        padding: 1rem 3rem;
        margin: 1rem auto;
        text-align: left;
    }
    input {
        margin-bottom: .2rem;
    }
    .btn-next {
        background-color: green;
        color: white;
        padding: .5rem 1.2rem;
    }
    .submit {
        width: 85%;
        margin: 1rem auto;
        text-align: right;
    }
    .finalbox {
        margin: .5rem;
        padding: 1rem;
        p {
            font-size: .8rem;
        }
    }
}